<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AirQuality.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49AF9B2327A51BF300671DC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49AF9B3927A51BF600671DC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49AF9B4327A51BF600671DC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
